@import url('https://fonts.googleapis.com/css?family=Metamorphous&family=Fira+Code&display=swap');

.charsheet {
    font-family: 'Metamorphous', cursive;
    text-shadow: 0px 0px 6px #CECECE;
    background-size: 904px 1269px;
    width: 904px;
    height: 1250px;
    background: url("https://raw.githubusercontent.com/samik027/Roll20-DRDII-character-sheet/main/drd2_pozadi.png") no-repeat;
}

svg {
    font-family: "Courier New";
}

.sheet-character,
.sheet-texts,
.sheet-companions   {
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 1em;
    padding-top: 10px;
    width: 92%;
    padding-left: 20px;
    padding-right: 20px;
}

input {
    border: none;
    border-bottom: 1px dotted black;
    outline: none;
}

textarea {
    resize: none;
}

.sheet-resourses {
    display: grid;
    grid-template-columns: 50px 1fr;
    justify-items: start;
    grid-row-gap: 5px;
    margin-top: 10px;
}

.sheet-scars {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-row-gap: 5px;
    margin-top: 10px;
}

.sheet-threat-benefit {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: start;
    grid-row-gap: 5px;
}

.sheet-race-proffesion {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 1em;
}

.sheet-race-proffesion input {
    width: 90%;
}

.sheet-currency {
    display: flex;
    justify-content: space-between;
}

.sheet-currency input {
    width: 65px;
}

.sheet-resourse-name {
    justify-self: start;
}

.sheet-full-width {
    width: 100%;
}

.sheet-two-col {
    grid-column: 1/3;
}
/* repeating sections */
.repcontainer > .repitem {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.repcontainer[data-groupname="repeating_companions"] > .repitem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
}

.repcontainer[data-groupname="repeating_companions"] > .repitem textarea {
    height: 80px;
    resize: both;
}

/* repcontrol button styling for repeating sections */
.repcontrol .btn {
    visibility: hidden;
}

.repcontrol .btn:before {
    visibility: visible;
    font-family: pictos;
    height: 24px;
    width: 24px;
    font-size: 20px;
    border-radius: 50%;
    padding: 4px;
    display: inline-block;
    line-height: 22px;
}

.repcontrol .btn:hover:before {
    background-color: #c04631;
    color: gold;
}

.repcontrol .repcontrol_add:before {
    content: '&';
    background-color: #a2422d;
}

.repcontrol .repcontrol_edit:before {
    content: 'p';
    background-color: #a2422d;
}

.editmode ~ .repcontrol .repcontrol_edit:before {
    content: '3';
}

/* buttons */
.sheet-custom-butt {
    background-color: black;
    font-family: 'Fira Code', monospace;
    font-size: 15px;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: white;
    border: 1px solid #7c7c7c;
    border-radius: 0;
    outline: 0;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.sheet-custom-butt:hover {
    background-color: #ebebeb;
}


.sheet-tabstoggle[value="character"] ~ div.sheet-character,
.sheet-tabstoggle[value="texts"] ~ div.sheet-texts,
.sheet-tabstoggle[value="companions"] ~ div.sheet-companions {
    display: grid;
}